{{ define "main" }}
    <div class="hero">
        {{ with .Params.header }}
            <h1>{{ .page_header }}</h1>
            {{ partial "picture" (dict
                "src" (add "assets/" .header_photo_left)
                "ctx" $
                "alt" .header_photo_left_alt
                "sizes" "max-width: 480px 100vw, 50vw"
                )
            }}
            {{ partial "picture" (dict
                "src" (add "assets/" .header_photo_left)
                "ctx" $
                "alt" .header_photo_left_alt
                "sizes" "max-width: 480px 100vw, 50vw"
                )
            }}
            {{ partial "picture" (dict
                "src" (add "assets/" .header_photo_left)
                "ctx" $
                "alt" .header_photo_left_alt
                "sizes" "max-width: 480px 100vw, 50vw"
                )
            }}
        {{ end }}
        <div class="article-grid">
            {{ range .Params.sections }}
                <article class="about-article {{- .type -}} {{- .layout -}}">
                    {{ if (eq .type "image") }}
                        {{ partial "picture" (dict
                            "src" (add "assets/" .image)
                            "ctx" $
                            "alt" .image_alt
                            "sizes" "max-width: 480px 100vw, 50vw"
                            )
                        }}
                    {{ else if (eq .type "text") }}
                        {{ .text | markdownify }}
                    {{ end }}
                </article>
            {{ end }}
        </div>
        <article class="certifications-container">
            <h2>Certifications</h2>
            {{ range .Params.certifications }}
                <div class="certifications-section">
                    {{ . | markdownify }}
                </div>
            {{ end }}
        </article>
    </div>
{{ end }}
