{{ define "main" }}
    <div class="container">
        <div class="content">
            <p>default list template</p>
            <h1>{{ .Title }}</h1>
            {{ if .Description }}
                <p class="description">{{ .Description }}</p>
            {{ end }}

            {{ .Content }}

            {{ range .Pages }}
                <article>
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    {{ if .Description }}
                        <p>{{ .Description }}</p>
                    {{ end }}
                    <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
                </article>
            {{ end }}
        </div>
    </div>
{{ end }}
