// @import 'node_modules/scss-reset/_reset';
@import 'assets/style/_variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    position: fixed;
}

main,
footer {
    margin: auto;
    max-width: 33em;
}
